In [17]:
import pandas as pd
import numpy as np
import sys
import matplotlib.pyplot as plt
import random

In [2]:
# 构造数据:随机出1000个婴儿的名字,以及他们的生日
names = ['Bob','Jessica','Mary','John','Mel']
random.seed(500)
random_names = [names[random.randint(0, len(names)-1)] for i in range(1000)]
random_names[:10]

['John',
 'Mel',
 'Mary',
 'Jessica',
 'John',
 'Jessica',
 'Mel',
 'Jessica',
 'Mary',
 'John']

In [3]:
births = [random.randint(0, 1000) for i in range(1000)]
births[:10]

[478, 875, 306, 942, 422, 607, 752, 424, 950, 552]

In [4]:
babyset = zip(random_names, births)
babyset[:10]

[('John', 478),
 ('Mel', 875),
 ('Mary', 306),
 ('Jessica', 942),
 ('John', 422),
 ('Jessica', 607),
 ('Mel', 752),
 ('Jessica', 424),
 ('Mary', 950),
 ('John', 552)]

In [5]:
# 构造姓名、年龄数据框
df = pd.DataFrame(data=babyset, columns=['Names', 'Births'])
df[:10]

     Names  Births
0     John     478
1      Mel     875
2     Mary     306
3  Jessica     942
4     John     422
5  Jessica     607
6      Mel     752
7  Jessica     424
8     Mary     950
9     John     552

In [6]:
# 获得列名array
df.columns

Index([u'Names', u'Births'], dtype='object')

In [7]:
# 得到指定列名
df.columns[1]

'Births'

In [8]:
# 获得相应Series的值
df['Births'].values[:10]

array([478, 875, 306, 942, 422, 607, 752, 424, 950, 552], dtype=int64)

In [9]:
# 获得数据框的基本信息:数据的条数、每一列的类型，以及内存使用情况等
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 2 columns):
Names     1000 non-null object
Births    1000 non-null int64
dtypes: int64(1), object(1)
memory usage: 19.5+ KB

In [10]:
# 获得指定列名的集合(返回的是numpy.ndarray)
df['Names'].unique()

array(['John', 'Mel', 'Mary', 'Jessica', 'Bob'], dtype=object)

In [11]:
# 获得列的详细描述（是一个Series）
df['Names'].describe()

count        1000
unique          5
top       Jessica
freq          214
Name: Names, dtype: object

In [12]:
# 聚集, 得到一个DataFrameGroupBy类型的数据
name = df.groupby('Names')
# 获得聚集之和
df = name.sum()
df

         Births
Names
Bob       97002
Jessica  107717
John      99585
Mary      96137
Mel      101127

In [13]:
# 获得受欢迎的名字且对应Births最大的baby
sorteddf = df.sort(['Births'], ascending=False)  # 将生日降序排列
sorteddf

         Births
Names
Jessica  107717
Mel      101127
John      99585
Bob       97002
Mary      96137

In [18]:
df['Births'].plot(kind='bar')

In [15]:
# 只要是取单列那么就是Series

In [19]:
df.count()

Births    5
dtype: int64

In [22]:
len(df.index)

5

In [23]:
df.index?

In [24]:
len(df)

5

In [28]:
len(df[df["Births"] == 0])

0

In [29]:
np.nan

nan

In [36]:
df

         Births
Names
Bob       97002
Jessica  107717
John      99585
Mary      96137
Mel      101127

In [39]:
df.index = [0, 1, 2, 3 ,4]
df

   Births
0   97002
1  107717
2   99585
3   96137
4  101127