In [1]:
# 构造DataFrame（增删改查）
import pandas as pd

In [2]:
d = range(10)
df = pd.DataFrame(d)
df

,0
0,0
1,1
2,2
3,3
4,4
5,5
6,6
7,7
8,8
9,9

In [3]:
# 设置列名
df.columns = ['Rev']
df

,Rev
0,0
1,1
2,2
3,3
4,4
5,5
6,6
7,7
8,8
9,9

In [4]:
# 添加新行
df['NewCol'] = 5 
df

,Rev,NewCol
0,0,5
1,1,5
2,2,5
3,3,5
4,4,5
5,5,5
6,6,5
7,7,5
8,8,5
9,9,5

In [5]:
# 行赋值运算
df['NewCol'] += 1
df

,Rev,NewCol
0,0,6
1,1,6
2,2,6
3,3,6
4,4,6
5,5,6
6,6,6
7,7,6
8,8,6
9,9,6

In [6]:
# 删除行
del df['NewCol']
df

,Rev
0,0
1,1
2,2
3,3
4,4
5,5
6,6
7,7
8,8
9,9

In [7]:
df['test'] = 3
df['col'] = df['Rev']
df

,Rev,test,col
0,0,3,0
1,1,3,1
2,2,3,2
3,3,3,3
4,4,3,4
5,5,3,5
6,6,3,6
7,7,3,7
8,8,3,8
9,9,3,9

In [8]:
# 使用index设置列名
i = list("abcdefghij")
df.index = i
df

,Rev,test,col
a,0,3,0
b,1,3,1
c,2,3,2
d,3,3,3
e,4,3,4
f,5,3,5
g,6,3,6
h,7,3,7
i,8,3,8
j,9,3,9

In [9]:
# select, 查, 根据行名获得单行，一个Series
df.loc['a'], type(df.loc['a'])

(Rev     0
 test    3
 col     0
 Name: a, dtype: int64, pandas.core.series.Series)

In [10]:
# 根据行名，获得的多行，通过start: end， 获得以start为起始end为结束行
df.loc['a':'c']

,Rev,test,col
a,0,3,0
b,1,3,1
c,2,3,2

In [11]:
# 通过list选取多行
df.loc[['a','b','d']]

,Rev,test,col
a,0,3,0
b,1,3,1
d,3,3,3

In [12]:
# 选取单列(默认选取所有行)
df.loc[:,'Rev']

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
Name: Rev, dtype: int64

In [13]:
# 选取单行单列（一个特定值）
df.loc['a', 'Rev']

0

In [14]:
# 选取多行多列
df.loc['a':'c', "test":]

,test,col
a,3,0
b,3,1
c,3,2

In [33]:
# 使用‘，'复制数据框
newdf = df.loc[:, ['test','col']]
newdf

,test,col
a,2,0
b,2,1
c,2,2
d,2,3
e,2,4
f,2,5
g,2,6
h,2,7
i,2,8
j,2,9

In [34]:
newdf.loc[:, 'test'] = newdf['test'] + 1
newdf

,test,col
a,3,0
b,3,1
c,3,2
d,3,3
e,3,4
f,3,5
g,3,6
h,3,7
i,3,8
j,3,9

In [35]:
df

,Rev,test,col
a,0,2,0
b,1,2,1
c,2,2,2
d,3,2,3
e,4,2,4
f,5,2,5
g,6,2,6
h,7,2,7
i,8,2,8
j,9,2,9